.apps1{
	@include section(512px);
	@include section_picture('images/bg.jpg');
	color: $color3_white;
}
.apps1 .container{
	justify-content: flex-end;
}
.content_page_3{
	width: 404px;
}
.apps1 h2{
	font-size: 36px;
	line-height: 24px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom: 16px;
}
.apps1 p{
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.1em;
	margin-bottom: 29px;
}
.apps1 a{
	text-transform: uppercase;
	border: 1px solid $color3_white;
	border-radius: 5px;
	padding: 7px 30px 10px;
}
@media screen and (max-width: 868px){
	.apps1{
		@include section_768(512px);
	}
	.apps1 .container{
		justify-content: center;
		text-align: center;
	}
}
@media screen and (max-width: 514px){
	.apps1 .container{
		padding: 238px 15px 247px;
	}
}
